.allCards {
  /* background-color: aqua; */
  display: inline-flex;
}
.card {
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 100%;
  position: relative;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    rgba(6, 134, 143, 0.8),
    rgba(226, 203, 214, 0.8)
  );
  margin:0 auto; 
  padding: 20px 0;
}
.card img{
  width: 10rem;
}
.card button{
  margin: 7px 54px;
  padding: 5px 3px;
  border-radius: 6px;
  animation: up 2s infinite;
  position: relative;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  border: 1px solid  rgb(196, 218, 238);
  background-color: rgb(196, 218, 238);
}
